# compiled output
# backend
/manna-backend/dist
/manna-backend/node_modules
/manna-backend/build
/manna-backend/src/lib/database/generated/prisma
/manna-backend/src/lib/database/prisma/models
/manna-backend/api.manna.com.conf
/manna-backend/src/controllers_v1

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/manna-backend/coverage
/manna-backend/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
/manna-backend/.env
/manna-backend/.env.development.local
/manna-backend/.env.test.local
/manna-backend/.env.production.local
/manna-backend/.env.local
/manna-backend/.env.docker
/manna-backend/.env.*

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


# frontend
### NextJS ###
# dependencies
/manna-frontend/node_modules
/manna-frontend/.pnp
/manna-frontend/.pnp.js

# testing
/manna-frontend/coverage

# next.js
/manna-frontend/.next/
/manna-frontend/out/

# production
/manna-frontend/build

# misc
*.pem

# debug
/manna-frontend/npm-debug.log*
/manna-frontend/yarn-debug.log*
/manna-frontend/yarn-error.log*
/manna-frontend/.pnpm-debug.log*

# local env files
/manna-frontend/.env*.local

# vercel
/manna-frontend/.vercel

# typescript
/manna-frontend/*.tsbuildinfo
/manna-frontend/next-env.d.ts