{
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "script",
    "ecmaFeatures": {
      "jsx": false,
    },
  },
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": false,
    "node": true,
    "mocha": true,
    "es6": true,
  },
  "ignorePatterns": ["node_modules/"],
  "rules": {
    "prettier/prettier": "error",
  },
}
