.container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-start; */
  border-radius: 8px;
}

.title {
  font-size: 1rem;
  font-weight: 700;
  color: var(--color--typography);
  margin-bottom: 1rem;
}
