.headerRightSlot {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.headerButton {
  background: none;
  border: none;
  cursor: pointer;
}

.inputSectionWrapper {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.roomInfoLabelBoxWrapper {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  flex-wrap: wrap;
}

.roomInfoLabelBox {
  width: fit-content;
  background-color: var(--color-label-bg);
  border-radius: 4px;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 0.875rem;
}

.dateList {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding-bottom: 1rem;
}

.dateItem {
  width: 14.5rem;
  min-width: 14.5rem;
}

.date {
  margin-bottom: 1.5rem;
}

.timeItemWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.timeItem {
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  height: 4rem;
  /* min-height: 60px; */
  text-align: left;
  padding: 0 1rem;

  background-color: var(--color-white);
}

.noParticipants {
  p {
    font-size: 0.875rem;
  }
}
