.container {
  font-size: 1rem;
  color: var(--color-typo);
  display: flex;
  gap: 0.5rem;
}

.codeInputButton {
  background: none;
  border: none;
  text-decoration: underline;
  color: var(--color-main);
  font-size: 1rem;
  cursor: pointer;
}

.popupModal {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(000, 000, 000, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popupContainer {
  z-index: 11;
  width: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  background-color: var(--color-white);
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
}
