@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;
  font-size: 16px;

  /* 신규 디자인 시스템 */
  --color-white: #fff;
  --color-black: #000;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f8;
  --color-gray-200: #e5e8ef;
  --color-gray-300: #cbcfdc;
  --color-gray-400: #b4bbcb;
  --color-gray-500: #99a1b1;
  --color-gray-600: #747887;
  --color-gray-700: #515a67;
  --color-gray-800: #3f4856;
  --color-gray-900: #262a30;

  --color-blue-50: #ebf5ff;
  --color-blue-100: #cce1ff;
  --color-blue-400: #269aff;
  --color-blue-500: #0088ff;
  --color-blue-900: #0041a9;

  --color-red-50: #fff0f3;
  --color-red-100: #ffdbdf;
  --color-red-500: #fb496d;
  --color-red-600: #e53559;

  --color-purple-50: #f9f0ff;
  --color-purple-100: #f0e1fe;
  --color-purple-200: #d8c1fc;
  --color-purple-500: #a16bff;
  --color-purple-900: #481bdb;

  /* --color-gradient-1: linear-gradient(to right, #0088ff, #6b73ff); */
  --color-opacity-1: #262a3050; /* 바텀시트 / 모달 노출 시 백그라운드에 레이어링 되는 컬러입니다. */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    /* 흑백 다크모드 색상 */
    --color-white: #151416; /* dark/gray-950*/
    --color-black: #fff;

    /* Gray 다크모드 색상 */
    --color-gray-50: #202023; /* dark/gray-910 */
    --color-gray-100: #28272d; /* dark/gray-890 */
    --color-gray-200: #333235; /* dark/gray-850 */
    --color-gray-300: #3d3f49; /* dark/gray-750 */
    --color-gray-400: #555564; /* dark/gray-650 */
    --color-gray-500: #767788; /* dark/gray-550 */
    --color-gray-600: #a4a6ba; /* dark/gray-450 */
    --color-gray-700: #cbcfdc; /* dark/gray-300 */
    --color-gray-800: #cbcfdc; /* dark/gray-200 */
    --color-gray-900: #f9fafb; /* dark/gray-50 */

    /* Blue 다크모드 색상 */
    --color-blue-50: #273441; /* dark/blue-950 */
    --color-blue-100: #40526b; /* dark/blue-850 */
    --color-blue-400: #269aff; /* dark/blue-450 */
    --color-blue-500: #269aff; /* dark/blue-450 */
    --color-blue-900: #a1cbfc; /* dark/blue-150 */

    /* Red 다크모드 색상 */
    --color-red-50: #a1cbfc; /* dark/red-950 */
    --color-red-100: #a1cbfc; /* dark/red-450 */
    --color-red-500: #ffa2a7; /* dark/red-300 */
    --color-red-600: #ffa2a7; /* dark/red-300 */

    /* Purple 다크모드 색상 */
    --color-purple-50: #ffa2a7; /* dark/purple-950 */
    --color-purple-100: #5f5178; /* dark/purple-900 */
    --color-purple-200: #a16bff; /* dark/purple-500 */
    --color-purple-500: #f3caff; /* dark/purple-300 */
    --color-purple-900: #f3caff; /* dark/purple-300 */
  }
}

/* Tailwind Custom System */
@theme {
  /* SPACING (디자인 기준 16px: 1rem, w-, h-, gap-, p- 등에서 디자인 숫자만 입력하여 사용 */
  --spacing: calc(1 / 16 * 1rem);
  /* --spacing: 0.1rem; */

  /* 아래부터 신규 디자인 시스템 */
  --shadow-1: 0 4px 4px 0 rgba(0, 0, 0, 0.25),
    0 0 8px 0 rgba(102, 105, 163, 0.1);

  /* Typo */
  --text-head30: 30px;
  --text-head30--letter-spacing: -0.6px;
  --text-head30--font-weight: 700;

  --text-head28: 28px;
  --text-head28--letter-spacing: 0px;
  --text-head28--font-weight: 700;

  --text-head26: 26px;
  --text-head26--letter-spacing: 0px;
  --text-head26--font-weight: 700;

  --text-head24: 24px;
  --text-head24--letter-spacing: 0px;
  --text-head24--font-weight: 700;

  --text-head22: 22px;
  --text-head22--letter-spacing: 0px;
  --text-head22--font-weight: 700;

  --text-head18: 18px;
  --text-head18--letter-spacing: 0px;
  --text-head18--font-weight: 700;

  --text-body18: 18px;
  --text-body18--letter-spacing: 0px;
  --text-body18--font-weight: 400;

  /* subtitle */
  --text-subtitle16: 16px;
  --text-subtitle16--letter-spacing: 0px;
  --text-subtitle16--font-weight: 700;

  --text-subtitle14: 14px;
  --text-subtitle14--letter-spacing: 0px;
  --text-subtitle14--font-weight: 700;

  --text-subtitle13: 13px;
  --text-subtitle13--letter-spacing: 0px;
  --text-subtitle13--font-weight: 700;

  /* body */
  --text-body18: 18px;
  --text-body18--letter-spacing: 0px;
  --text-body18--font-weight: 400;

  --text-body16: 16px;
  --text-body16--letter-spacing: 0px;
  --text-body16--font-weight: 400;

  --text-body14: 14px;
  --text-body14--letter-spacing: 0px;
  --text-body14--font-weight: 400;

  --text-body13: 13px;
  --text-body13--letter-spacing: 0px;
  --text-body13--font-weight: 400;

  /* accent caption */
  --text-caption12-1: 12px;
  --text-caption12-1--letter-spacing: 0px;
  --text-caption12-1--font-weight: 600;

  /* caption */
  --text-caption12-2: 12px;
  --text-caption12-2--letter-spacing: 0px;
  --text-caption12-2--font-weight: 500;

  /* micro */
  --text-micro10: 10px;
  --text-micro10--letter-spacing: 0px;
  --text-micro10--font-weight: 600;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--color-typography);
  background: var(--background);
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-wrapper input {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 1px solid var(--color-border);
}

.react-datepicker__tab-loop {
  position: absolute;
}

/* gradient */
.bg-gradient-1 {
  background: linear-gradient(to right, #0188ff, #6b73ff);
}

/* drop-shadow */
.drop-shadow-1 {
  box-shadow: 0 0 8px 0 rgba(102, 105, 163, 0.1);
}

/* custom inset shadow */
.inset-shadow-gray {
  box-shadow: inset -4px 0 6px 0 rgba(152, 152, 182, 0.2);
}

.inset-shadow-blue {
  box-shadow: inset 4px 0 6px 0 rgba(42, 39, 255, 0.2);
}
