@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #171717;

  /* 아래부터 추가 */
  /* --color-main: #ffa0a0;
  --color-main-sub: #ffe3e4;
  --color-main-point: #ff4b91;
  --color-point: #272b54; */
  --color-main: #53a7d8;
  --color-main-sub: #bce6ff;
  --color-main-point: #2d82b5;
  --color-point: #006eff;

  --color-background-dark: #f2f2f2;
  --color-background-light: #040303;
  --color-border: #e6e6e6;

  --color-error-type: #991b1b;
  --color-error: #ef4444;
  --color-error-bg: #fee2e2;
  --color-warning-bg: #fef9c3;
  --color-warning: #eab308;
  --color-warning-typo: #854d0e;
  --color-success-bg: #dcfce7;
  --color-success: #22c55e;
  --color-success-typo: #166534;

  --color-typography: #1f2937;
  --color-typography-sub: #4b5563;
  --color-unselected: #6b7280;
  --color-typography-light: #9ca3af;

  --color-unselected-bg: #ccc;
  --color-label-bg: #f8f8f8;

  --color-sub-box-bg: #f5f9ff;
}

/* Design System */
@theme {
  /* 아래부터 신규 디자인 시스템 */
  --color-white: #fff;
  --color-black: #000;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f8;
  --color-gray-200: #e5e8ef;
  --color-gray-300: #cbcfdc;
  --color-gray-400: #b4bbcb;
  --color-gray-500: #99a1b1;
  --color-gray-600: #747887;
  --color-gray-700: #515a67;
  --color-gray-800: #3f4856;
  --color-gray-900: #262a30;

  --color-blue-50: #ebf5ff;
  --color-blue-100: #cce1ff;
  --color-blue-200: #99caff;
  --color-blue-500: #0088ff;
  --color-blue-900: #0041a9;

  --color-red-50: #fff0f3;
  --color-red-100: #ffdbdf;
  --color-red-500: #fb496d;
  --color-red-600: #e53559;

  --color-purple-50: #f9f0ff;
  --color-purple-100: #f0e1fe;
  --color-purple-200: #d8c1fc;
  --color-purple-500: #a16bff;
  --color-purple-900: #481bdb;

  /* Typo */
  --text-head30: 30px;
  --text-head30--letter-spacing: -0.6px;
  --text-head30--font-weight: 700;

  --text-head28: 28px;
  --text-head28--letter-spacing: 0px;
  --text-head28--font-weight: 700;

  --text-head26: 26px;
  --text-head26--letter-spacing: 0px;
  --text-head26--font-weight: 700;

  --text-head24: 24px;
  --text-head28--letter-spacing: 0px;
  --text-head28--font-weight: 700;

  --text-head22: 22px;
  --text-head28--letter-spacing: 0px;
  --text-head28--font-weight: 700;

  --text-head18: 18px;
  --text-head28--letter-spacing: 0px;
  --text-head28--font-weight: 700;

  --text-body18: 18px;
  --text-body18--letter-spacing: 0px;
  --text-body18--font-weight: 400;

  /* subtitle */
  --text-subtitle16: 16px;
  --text-subtitle16--letter-spacing: 0px;
  --text-subtitle16--font-weight: 700;

  --text-subtitle14: 14px;
  --text-subtitle14--letter-spacing: 0px;
  --text-subtitle14--font-weight: 700;

  --text-subtitle13: 13px;
  --text-subtitle13--letter-spacing: 0px;
  --text-subtitle13--font-weight: 700;

  /* body */
  --text-body18: 18px;
  --text-body18--letter-spacing: 0px;
  --text-body18--font-weight: 400;

  --text-body16: 16px;
  --text-body16--letter-spacing: 0px;
  --text-body16--font-weight: 400;

  --text-body14: 14px;
  --text-body14--letter-spacing: 0px;
  --text-body14--font-weight: 400;

  --text-body13: 13px;
  --text-body13--letter-spacing: 0px;
  --text-body13--font-weight: 400;

  /* accent caption */
  --text-caiption12-1: 12px;
  --text-caiption12-1--letter-spacing: 0px;
  --text-caiption12-1--font-weight: 600;

  /* caption */
  --text-caiption12-2: 12px;
  --text-caiption12-2--letter-spacing: 0px;
  --text-caiption12-2--font-weight: 500;

  /* micro */
  --text-micro10: 10px;
  --text-micro10--letter-spacing: 0px;
  --text-micro10--font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-gray-500: #6b7280;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;
    --color-gray-900: #111827;

    --color-primary-50: #f0f9ff;
    --color-primary-100: #e0f2fe;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    /* --color-main: #ff7090;
    --color-main-sub: #3a2b31;
    --color-main-point: #ff4b91;
    --color-point: #ff7090; */
    --color-main: #53a7d8;
    --color-main-sub: #677a85;
    --color-main-point: #2d82b5;
    --color-point: #006eff;

    --color-background-dark: #1e1e1e;
    --color-background-light: #2a2a2a;
    --color-border: #3e3e3e;

    --color-error-type: #fca5a5;
    --color-error: #f87171;
    --color-error-bg: #923a3aec;
    --color-warning-bg: #4b3d1c;
    --color-warning: #facc15;
    --color-warning-typo: #fde68a;
    --color-success-bg: #1d3b2a;
    --color-success: #4ade80;
    --color-success-typo: #bbf7d0;

    --color-typography: #f5f5f5;
    --color-typography-sub: #d1d5db;
    --color-unselected: #9ca3af;
    --color-typography-light: #6b7280;

    --color-unselected-bg: #444;
    --color-label-bg: #1c1c1c;

    --color-white: #292b2e8b;
    /* --color-sub-box-bg: #d3b3e1; */
    --color-sub-box-bg: #53a7d8;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--color-typography);
  background: var(--background);
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-wrapper input {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 1px solid var(--color-border);
}

.react-datepicker__tab-loop {
  position: absolute;
}
