.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.headerRightSlot {
  a {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.createScheduleDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  text-align: center;
}

.logo {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
}
